<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InformatykBattle.pl</title>
        <link rel="stylesheet" href="mainpage.css">
    </head>
    <body>
        <div id="mainContainer">
            <h1 class="page-title">InformatykBattle.pl</h1>
            <p>
                Sprawdź swoją wiedze z zakresu (EE09, E13, E14), <br> w grze multiplayer InformatykBattle
            </p>

            <button class="button-lobby-create">Stwórz gre</button>

            <footer>
                &copy; Maciej Dębowski
            </footer>
        </div>

        <script src="mainpage.js"></script>
    </body>
</html>