@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    background: #1f2020;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#gameContainer h1 {
    font-size: 70px;
}

#gameContainer .gameStatus {
    font-size: 20px;
}

.box-game {
    background: #0004;
    border-radius: 20px;
    width: 60vw;
    padding: 10px;
    margin: 10px auto;
}

.question-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.question-item {
    width: 40%;
    height: 150px;
    background: #fff4;
    border: 3px solid #fff2;
    border-radius: 12px;
    margin: 10px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
}

.question-item:hover {
    border: 3px solid #0004;
}